$template: "giorno";

$font_body: 'Open Sans',
sans-serif;

$bg_body:#EDF5FD;
$c_body:#000000;
$bg_header:#041425;
$c_header: #FFFFFF;
$bg_nav: #1466B8;
$c_nav:#FFFFFF;
$bg_nav_hvr: #479CEB;
$c_nav_hvr: #000000;
$bg_button: #1466B8;
$c_button:#FFFFFF;
$bg_button_hvr: #479CEB;
$c_button_hvr: #000000;
$bg_anteprime: #A3CDF5;
$c_anteprime:#000000;
$border: #041425;
$bg_footer: #041425;
$c_footer: #FFFFFF;
$bg_home1: #041425;
$c_home1: #FFFFFF;
$bg_home2: #EDF5FD;
$c_home2: #000000;
$bg_home3: #DAEBFB;
$c_home3: #000000;

$height: width;