@import "variabili";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 13px;
    font-family: $font_body;
    display: flex;
    flex-direction: column;
    background-color: $bg_body;
    color: $c_body;
}

// Inizio header per tutte le pagine
.divHeader {
    background-color: $bg_header;
    color: $c_header;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 35px 5%;
    transition: padding 0.3s ease;
    margin-top: 37px;
    border-bottom: 3px solid $bg_nav;
    line-height: 2.2;
}

#divHeaderHome {
    background-color: $bg_home1;
    color: $c_home1;
}

// Fine header per tutte le pagine

// Inizio nav per tutte le pagine

nav.hamburger-menu {
    position: fixed;
    background-color: $bg_nav;
    color: $c_nav;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    z-index: 1100;
}

nav.hamburger-menu .logo {
    margin: 0 70px 0 40px;
}

nav.hamburger-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav.hamburger-menu li {
    list-style: none;
    display: inline;
    margin: 0 40px 0 0;
}

nav.hamburger-menu a {
    color: $c_nav;
    text-decoration: none;
    position: relative;
    transition: color 0.15s ease-in-out;
}

nav.hamburger-menu a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $c_nav;
    transition: width 0.3s ease-in-out;
}

nav.hamburger-menu a:hover::after {
    width: 100%;
}

nav.hamburger-menu #controllo {
    opacity: 0;
}

@media all and (max-width: 768px) {

    /* La label del input che disegna le 3 linee*/
    nav.hamburger-menu .label-controllo {
        position: fixed;
        top: 18px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    nav.hamburger-menu .label-controllo>span,
    nav.hamburger-menu .label-controllo>span::before,
    nav.hamburger-menu .label-controllo>span::after {
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: $c_nav;
        transition-duration: .25s;
    }

    nav.hamburger-menu .label-controllo>span::before {
        content: '';
        top: -8px;
    }

    nav.hamburger-menu .label-controllo>span::after {
        content: '';
        top: 8px;
    }

    /* ul del menu */
    nav.hamburger-menu #menu {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 90%;
        height: 100%;
        padding: 80px 0;
        background-color: $bg_nav;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
    }

    /* Voci di menu */
    nav.hamburger-menu .vociMenu {
        display: block;
        padding: 12px 24px;
        color: $c_nav;
        font-size: 1.5rem;
        font-weight: 600;
        transition-duration: .25s;
    }

    /* Voci di menu hover */
    nav.hamburger-menu .vociMenu:hover {
        color: $c_nav;
    }

    #controllo:checked+.label-controllo>span {
        transform: rotate(45deg);
    }

    #controllo:checked+.label-controllo>span::before {
        top: 0;
        transform: rotate(0deg);
    }

    #controllo:checked+.label-controllo>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #controllo:checked~#menu {
        left: 0 !important;
    }
}

// Fine nav per tutte le pagine

// Inizio main per tutte le pagine tranne per home
.divBody {
    width: 100%;
    background-color: $bg_body;
    color: $c_body;
    line-height: 2.2;

    a {
        color: $c_body;
        transition: font-weight 0.3s ease;

        &:hover {
            font-weight: bolder;
            text-decoration: none;
        }

        &:focus,
        &:active {
            outline: 2px solid $bg_nav_hvr;
            outline-offset: 2px;
        }
    }

    .divMain2 {
        padding: 35px 5% 0 5%;

        h2 {
            margin-bottom: 35px;
        }

        h3,
        h4 {
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 35px;
        }

        img {
            width: 100%;
            max-width: 400px;
            border-radius: 10px;
            border: 1px $border solid;
            margin-bottom: 35px;
        }

        iframe {
            width: 100%;
            margin-top: -25px;
            margin-bottom: 35px;
            border-radius: 10px;
            border: 1px $border solid;
        }
    }

    #divMainContattiForm {

        line-height: 1;

        select,
        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
            margin-bottom: 10px;
            padding: 4px;
        }

        input[type="checkbox"] {
            margin-bottom: 10px;
            position: relative;
            top: 2px;
        }

        #divSubmitContatti {
            margin-bottom: 35px;
        }

        span.erroriContatti {
            color: red;
            font-weight: bold;
        }
    }

    #divMainPortfolio {
        padding: 35px 5% 15px 5%;

        h2 {
            margin-bottom: 35px;
        }

        h4 {
            margin-top: 35px;
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 20px;
        }

        img {
            width: 100%;
            max-width: 400px;
            border-radius: 10px;
            border: 1px $border solid;
        }
    }
}

// Fine main per tutte le pagine tranne per home

// Inizio div principale solo per home
#divMainHome {
    font-size: 15px;
    line-height: 2.2;
}

#divImageHome {
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    color: white;
}

#divSectionHome1 {
    border-top: 3px solid $bg_nav;
    border-bottom: 3px solid $bg_nav;
    background-color: $bg_home1;
    color: $c_home1;
    width: 100%;
    padding: 35px 5%;
    font-style: italic;
}

#divSectionHome2 {
    background-color: $bg_home2;
    color: $c_home2;
    width: 100%;
    padding: 35px 5%;
}

#divSectionHome3 {
    background-color: $bg_home3;
    color: $c_home3;
    width: 100%;
    padding-bottom: 15px;

    p {
        padding: 35px 5%;
    }

    .divAnteprimeHome {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 5%;
        padding-right: 5%;

        .divAnteprimeHome2 {
            display: flex;
            justify-content: center;
            flex-basis: 100%;
            width: 100%;

            img {
                width: 100%;
                max-width: 400px;
                border-radius: 10px;
                margin-bottom: 20px;
                border: 1px $border solid;
            }
        }
    }
}

// Fine div principale solo per home

// Inizio anteprime per tutte le pagine tranne per home e portfolio
.divAnteprime {
    width: 100%;
    padding: 35px 5%;
    display: flex;
    flex-direction: column;
    background-color: $bg_anteprime;
    color: $c_anteprime;

    h2 {
        margin-bottom: 35px;
    }

    .divAnteprime2 {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;

        .divAnteprime3 {
            text-align: center;
        }

        img {
            width: 100%;
            max-width: 400px;
            border-radius: 10px;
            border: 1px $border solid;
        }
    }

    p {
        margin-bottom: 10px;
    }
}

// Fine anteprime per tutte le pagine tranne per home e portfolio

// Fine anteprime servizi pagina portfolio
#divAnteprimePortfolio {
    width: 100%;
    padding: 35px 5%;
    display: flex;
    flex-direction: column;
    background-color: $bg_anteprime;
    color: $c_anteprime;

    h2 {
        margin-bottom: 35px;
    }

    .divAnteprimePortfolioServizi {
        margin-bottom: 10px;
    }
}

// Fine anteprime servizi pagina portfolio

// Inizio footer per tutte le pagine
.divFooter {
    background-color: $bg_footer;
    color: $c_footer;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 75px 17%;
    border-top: 3px solid $bg_nav;
    line-height: 2.2;

    a {
        color: $c_footer;
        transition: font-weight 0.3s ease;
        margin-top: 10px;

        &:hover {
            font-weight: bolder;
            text-decoration: none;
        }

        &:focus,
        &:active {
            outline: 2px solid $bg_nav_hvr;
            outline-offset: 2px;
        }
    }
}

// Fine footer per tutte le pagine

// Inizio bottone contatti fisso in basso a destra
.divBottoneContattami {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;

    a {
        display: block;
        padding: 5px 10px;
        background: $bg_button;
        color: $c_button;
        text-align: center;
        border: 1px solid $c_button;
        border-radius: 20px;
        text-decoration: none;
        font-weight: bold;
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
            background-color: $bg_button_hvr;
            color: $c_button_hvr;
            border: 1px solid $c_button_hvr;
            transform: scale(1.1);
        }

        &:focus,
        &:active {
            outline: 2px solid $bg_nav_hvr;
            outline-offset: 2px;
        }
    }
}

// Fine bottone contatti fisso in basso a destra

@import "SmartphoneGrandi_TabletPiccoli";
@import "Tablet_TabletGrandi";
@import "DesktopPiccoli_Medi";
@import "DesktopGrandi";