@import "variabili";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    font-family: $font_body;
    display: flex;
    flex-direction: column;
    background-color: $bg_body;
    color: $c_body;
}

// Inizio header per tutte le pagine
.divHeader {
    background-color: $bg_header;
    color: $c_header;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 35px 5%;
    transition: padding 0.3s ease;
}

#divHeaderHome {
    background-color: $bg_home1;
    color: $c_home1;
}

// Fine header per tutte le pagine

// Inizio nav per tutte le pagine
.divNav {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;

    .nav-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        position: relative;
        background-color: $bg_nav;
        padding: 12px 20px;

        .menu-text {
            color: $c_nav;
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: bold;
            padding: 0 20px;
            display: flex;
            align-items: center;
        }

        .menu {
            display: flex;
        }

        .menu li {
            padding-left: 30px;
        }

        .menu li a {
            display: inline-block;
            text-decoration: none;
            color: $c_nav;
            text-align: center;
            transition: 0.15s ease-in-out;
            position: relative;
            text-transform: uppercase;
        }

        .menu li a::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background-color: $c_nav;
            transition: 0.15s ease-in-out;
        }

        .menu li a:hover::after {
            width: 100%;
        }

        .open-menu,
        .close-menu {
            position: absolute;
            color: $c_nav;
            cursor: pointer;
            font-size: 1.5rem;
            display: none;
        }

        .open-menu {
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            z-index: 1010;
        }

        .close-menu {
            top: 20px;
            right: 20px;
            z-index: 1020;
        }

        #check {
            display: none;
        }

        #check:checked~.open-menu {
            visibility: hidden;
        }

        #check:checked~.close-menu {
            visibility: visible;
            position: fixed;
            top: 20px;
            right: 20px;
        }
    }

    @media (max-width: 576px) {

        .nav-bar .open-menu,
        .nav-bar .close-menu {
            display: block;
        }

        .nav-bar .menu {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 0;
            right: -100%;
            z-index: 100;
            background-color: $bg_nav;
            transition: all 0.2s ease-in-out;
        }

        .nav-bar .menu li {
            margin-top: 40px;
        }

        .nav-bar .menu li a {
            padding: 10px;
        }

        .nav-bar #check:checked~.menu {
            right: 0;
        }
    }
}

// Fine nav per tutte le pagine

// Inizio main per tutte le pagine tranne per home
.divBody {
    width: 100%;
    background-color: $bg_body;
    color: $c_body;

    a {
        color: $c_body;
        transition: font-weight 0.3s ease;

        &:hover {
            font-weight: bolder;
            text-decoration: none;
        }

        &:focus,
        &:active {
            outline: 2px solid $bg_nav_hvr;
            outline-offset: 2px;
        }
    }

    .divMain2 {
        padding: 35px 5% 0 5%;

        h2 {
            margin-bottom: 35px;
        }

        h3,
        h4 {
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 35px;
        }

        img {
            width: 100%;
            max-width: 400px;
            border-radius: 10px;
            border: 1px $border solid;
            margin-bottom: 35px;
        }

        iframe {
            width: 100%;
            margin-top: -25px;
            margin-bottom: 35px;
            border-radius: 10px;
            border: 1px $border solid;
        }
    }

    #divMainContattiForm {

        select,
        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
            margin-bottom: 10px;
        }

        input[type="checkbox"] {
            margin-bottom: 10px;
            position: relative;
            top: 2px;
        }

        #divSubmitContatti {
            margin-bottom: 35px;
        }

        span.erroriContatti {
            color: red;
            font-weight: bold;
        }
    }

    #divMainPortfolio {
        padding: 35px 5% 15px 5%;

        h2 {
            margin-bottom: 35px;
        }

        h4 {
            margin-top: 35px;
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 20px;
        }

        img {
            width: 100%;
            max-width: 400px;
            border-radius: 10px;
            border: 1px $border solid;
        }
    }
}

// Fine main per tutte le pagine tranne per home

// Inizio div principale solo per home
#divMainHome {
    font-size: 15px;
}

#divImageHome {
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    color: white;
}

#divSectionHome1 {
    border-top: 3px solid $bg_nav;
    border-bottom: 3px solid $bg_nav;
    background-color: $bg_home1;
    color: $c_home1;
    width: 100%;
    padding: 35px 5%;
    font-style: italic;
}

#divSectionHome2 {
    background-color: $bg_home2;
    color: $c_home2;
    width: 100%;
    padding: 35px 5%;
}

#divSectionHome3 {
    background-color: $bg_home3;
    color: $c_home3;
    width: 100%;
    padding-bottom: 15px;

    p {
        padding: 35px 5%;
    }

    .divAnteprimeHome {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 5%;
        padding-right: 5%;

        .divAnteprimeHome2 {
            display: flex;
            justify-content: center;
            flex-basis: 100%;
            width: 100%;

            img {
                width: 100%;
                max-width: 400px;
                border-radius: 10px;
                margin-bottom: 20px;
                border: 1px $border solid;
            }
        }
    }
}

// Fine div principale solo per home

// Inizio anteprime per tutte le pagine tranne per home e portfolio
.divAnteprime {
    width: 100%;
    padding: 35px 5%;
    display: flex;
    flex-direction: column;
    background-color: $bg_anteprime;
    color: $c_anteprime;

    h2 {
        margin-bottom: 35px;
    }

    .divAnteprime2 {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;

        .divAnteprime3 {
            text-align: center;
        }

        img {
            width: 100%;
            max-width: 400px;
            border-radius: 10px;
            border: 1px $border solid;
        }
    }

    p {
        margin-bottom: 10px;
    }
}

// Fine anteprime per tutte le pagine tranne per home e portfolio

// Fine anteprime servizi pagina portfolio
#divAnteprimePortfolio {
    width: 100%;
    padding: 35px 5%;
    display: flex;
    flex-direction: column;
    background-color: $bg_anteprime;
    color: $c_anteprime;

    h2 {
        margin-bottom: 35px;
    }

    .divAnteprimePortfolioServizi {
        margin-bottom: 10px;
    }
}

// Fine anteprime servizi pagina portfolio

// Inizio footer per tutte le pagine
.divFooter {
    background-color: $bg_footer;
    color: $c_footer;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 75px 17%;

    p {
        margin-bottom: 20px;
    }

    a {
        color: $c_footer;
        transition: font-weight 0.3s ease;
        margin-top: 10px;

        &:hover {
            font-weight: bolder;
            text-decoration: none;
        }

        &:focus,
        &:active {
            outline: 2px solid $bg_nav_hvr;
            outline-offset: 2px;
        }
    }
}

// Fine footer per tutte le pagine

// Inizio bottone contatti fisso in basso a destra
.divBottoneContattami {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;

    a {
        display: block;
        padding: 5px 10px;
        background: $bg_button;
        color: $c_button;
        text-align: center;
        border: 1px solid $c_button;
        border-radius: 20px;
        text-decoration: none;
        font-weight: bold;
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
            background-color: $bg_button_hvr;
            color: $c_button_hvr;
            border: 1px solid $c_button_hvr;
            transform: scale(1.1);
        }

        &:focus,
        &:active {
            outline: 2px solid $bg_nav_hvr;
            outline-offset: 2px;
        }
    }
}

// Fine bottone contatti fisso in basso a destra

@import "SmartphoneGrandi_TabletPiccoli";
@import "Tablet_TabletGrandi";
@import "DesktopPiccoli_Medi";
@import "DesktopGrandi";